.formReg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    max-width:300px;
    border: solid 3px #f6bc609d;
    border-radius: 10px;
    background: linear-gradient(
        #511e006d, #973c07a2, #7045009d
    );
    box-shadow: 0px 0px 25px -1px #fcdc6980;
    padding: 10px;
}
.succesMessage{
    width:300px;
    margin: 20px 0;
    color: #fcdc6980; 
    font-size: large;
}
.switchButton{
   width: 50%;
   padding: 2px;
   margin: 3px 0;
   border: none;
   border: solid 2px hsla(0, 0%, 0%, 0);
   border-radius: 10px;
   background-color: transparent;
   color: #fcdc6980;
}
.switchButton:hover{
    background-color:#fce490e7;
    box-shadow: 0px 0px 15px -1px #fcdc6980;
    color: #2d2300; 
    font-weight: bolder;
    border: solid 2px #fbfaf8;
}
h3 {
    color: #fcdc6980; 
}

form {
    margin-top: 20px;
    color: #fcdc6951; 
    display: flex;
    flex-direction: column;
    text-align: left;
}
input {
    width: 275px;
    background-color:#faf8f223;
    border: solid 2px #2d23008e;
    margin-bottom: 10px;
}
::placeholder {
    color: #2d2300;
}
input:hover {
    box-shadow: 0px 0px 15px -1px #fcdc6980;
    background-color:#fce490e7;
    border: solid 2px #fbfaf8;
}
.submitButton {
    width: 100%;
    margin-top: 30px;
    border-radius: 10px;
    background-color:#fcdc6980;
    border: solid 2px #2d23008e;
}
.submitButton:hover {
    box-shadow: 0px 0px 15px -1px #fcdc6980;
    background-color:#fce490e7;
    border: solid 2px #fbfaf8;
    color: #2d2300; 
    font-weight: bolder;

}
input::-webkit-input-placeholder {
    color:#fce79e8e;
}
input:hover::-webkit-input-placeholder {
    color:black;
}
input:focus::-webkit-input-placeholder {
    color:black;
}
input:autofill {
    border: solid 2px #fce490e7;
    box-shadow: 0 0 0 30px #7B4D44 inset !important;
}
.errMessage {
    font-size: 12px;
    color: rgb(254, 99, 99);
    display: none;
    margin-bottom: 0;
}
.emailErrMessage {
    font-size: 12px;
    color: rgb(254, 99, 99);
    margin-bottom: 0;
}

input:invalid[focus="true"] {
    border: solid 2px red;
}

input:invalid[focus="true"] ~ .errMessage {
    display: block;
}
.password{
    position: relative;
}
.showPassword{
    cursor: pointer;
    color: #2d2300;
    position: absolute;
    top: 25px;
    right: 5%;
}
